service: real-user-api
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x
  stage: dev
  region: us-east-1
  environment:
    DYNAMODB_TABLE_NAME: ${self:custom.usersTableName}

custom:
  usersTableName: real-estate-users-table-${self:provider.stage}

plugins:
  - serverless-auto-swagger
  - serverless-iam-roles-per-function

functions:
  api:
    handler: index.handler
    events:
      - httpApi:
          path: /
          method: get
  greeting:
    handler: src/lambda/api.welcome
    events:
      - httpApi:
          path: /greeting
          method: get

  getAllUsers:
    handler: src/lambda/api.getAllUsers
    name: get-all-users
    memorySize: 128 # mb
    timeout: 5 # seconds
    environment:
      DYNAMODB_TABLE_NAME: ${self:custom.usersTableName}
    events:
      - httpApi:
          path: /users
          method: GET
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:Scan"
        Resource: "*"
  register:
    handler: src/lambda/api.register
    name: register-user
    memorySize: 128 # mb
    timeout: 5 # seconds
    environment:
      DYNAMODB_TABLE_NAME: ${self:custom.usersTableName}
    events:
      - httpApi:
          method: POST
          path: /register
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:PutItem"
        Resource: "*"

  #renters function
  getRenters:
    handler: src/lambda/api.getRenters
    name: getRenters
    memorySize: 128 # mb
    timeout: 5 # seconds
    environment:
      DYNAMODB_TABLE_NAME: ${self:custom.usersTableName}
    events:
      - httpApi:
          method: GET
          path: /users/renters
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:Query"  # this is how you comment things in YAML
          - "dynamodb:Scan"
          - "dynamodb:Get*"
        Resource: "*"
  
  #buyers function
  getBuyers:
    handler: src/lambda/api.getBuyers
    name: getBuyers
    memorySize: 128 # mb
    timeout: 5 # seconds
    environment:
      DYNAMODB_TABLE_NAME: ${self:custom.usersTableName}
    events:
      - httpApi:
          method: GET
          path: /users/buyers
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:Query"  # this is how you comment things in YAML
          - "dynamodb:Scan"
          - "dynamodb:Get*"
        Resource: "*"

  #property function
  mathUsers:
    handler: src/lambda/api.matchUsers
    name: matchUsers
    memorySize: 128 # mb
    timeout: 5 # seconds
    environment:
      DYNAMODB_TABLE_NAME: ${self:custom.usersTableName}
    events:
      - httpApi:
          method: GET
          path: /property/{propertyId}
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:Query"  # this is how you comment things in YAML
          - "dynamodb:Scan"
          - "dynamodb:Get*"
        Resource: "*"

  #delete function
  deleteUser:
    handler: src/lambda/api.deleteUser
    name: deleteUser
    memorySize: 128 # mb
    timeout: 5 # seconds
    environment:
      DYNAMODB_TABLE_NAME: ${self:custom.usersTableName}
    events:
      - httpApi:
          method: DELETE
          path: /users/{userId}
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:DeleteItem"  
        Resource: "*"

  #update function
  updateUser:
    handler: src/lambda/api.updateUser
    name: updateUser
    memorySize: 128 # mb
    timeout: 5 # seconds
    environment:
      DYNAMODB_TABLE_NAME: ${self:custom.usersTableName}
    events:
      - httpApi:
          method: PUT
          path: /users/{userId}
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - "dynamodb:UpdateItem"  
        Resource: "*"

resources:
  Resources:
    usersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.usersTableName}
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: role
            AttributeType: S
          - AttributeName: propertyId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
          #GSIs:
        GlobalSecondaryIndexes:
          - IndexName: role-index
            KeySchema:
              - AttributeName: role
                KeyType: HASH
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
            #adding property index
          - IndexName: propertyId-index
            KeySchema:
              - AttributeName: propertyId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
          